.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: aliceblue;
  background-image: url('https://cdn.pixabay.com/photo/2018/07/20/14/02/rome-3550739_960_720.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 89vh;
  margin: 0;
  padding: 2em;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-text {
  font-size: 5em;
  font-weight: bold;
  margin: 1.5em 0 0 1.5em;
  z-index: 2;
}

.hero small {
  margin: 1em 9.5em;
  z-index: 2;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5)
}

.search-container {
  background-color: #304F47;
  color: aliceblue;
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
  width: 978px;
  top: 863px;
  left: 145px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.choose-package {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.9em;
  margin: 2em;
  padding: 2em;
  h2 {
    text-align: center;
  }
}

.contaner-cards{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.slider {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}


